<p>本文简单介绍了一下<code>objective-c</code>中为类在运行时动态添加方法的技术.</p>
<blockquote>
<p><a href="https://developer.apple.com/library/ios/documentation/Cocoa/Conceptual/ObjCRuntimeGuide/Introduction/Introduction.html#//apple_ref/doc/uid/TP40008048">apple runtime 文档</a> 文档中介绍了runtime知识以及resolve method的一些内容，但是不详细。。。。</p>
</blockquote>


<p>动态消息决议是在一个对象不能处理某个selector时所发生的。决议比消息转发要先发生，如果决议成功，则会调用方法，不会继续转发流程，否则进入转发流程。</p>
<p>决议有两个方式，一个是添加实例方法，一个是添加类方法。现在互联网上的帖子大多数都是抄袭，基本上都只讲到如何添加实例方法而对于类方法的添加都是一笔带过。本文将真正介绍如何添加实例方法和类方法。</p>
<p>NSObject的类声明中有如下代码:</p>
<pre><code class="objc hljs">+ (<span class="hljs-built_in">BOOL</span>)resolveClassMethod:(SEL)sel __OSX_AVAILABLE_STARTING(__MAC_10_5, __IPHONE_2_0);
+ (<span class="hljs-built_in">BOOL</span>)resolveInstanceMethod:(SEL)sel __OSX_AVAILABLE_STARTING(__MAC_10_5, __IPHONE_2_0);</code></pre><p>前者是决议类方法，后者决议实例方法。触发决议的流程很简单，只需要对某个<strong>对象</strong>发送其不能响应的消息即可。然后会根据对象的性质调用不同的决议方法。如果是实例对象则调用<code>resolveInstanceMethod</code>，如果是class对象则调用<code>resloveClassMethod</code>。
要了解如何给<strong>对象</strong>动态添加方法需要知道objective-c中的类继承结构，以及理解class对象。</p>
<h3 id="4d4be268">objective-c的类结构</h3><p>某个类如<code>XLPerson</code>，它继承自<code>NSObject</code>，一个实例为<code>personA</code>。<code>personA</code>的类为<code>XLPerson</code>，<code>XLPerson</code>是一个class对象，它的类是一种metaClass，用以下代码可以获取：</p>
<pre><code class="objc hljs">OBJC_EXPORT Class objc_getMetaClass(<span class="hljs-keyword">const</span> <span class="hljs-keyword">char</span> *name)
    __OSX_AVAILABLE_STARTING(__MAC_10_0, __IPHONE_2_0);</code></pre><p>在本例中调用为<code>objc_getMetaClass(“XLPerson”)</code>,获取到的class对象是<code>XLPerson</code>的metaClass，亦即<code>XLPerson</code>的类。</p>
<h3 id="a273c3c7">消息决议的示例代码</h3><ol>
<li>决议实例方法  </li>
</ol>
<pre><code class="objc hljs">+ (<span class="hljs-built_in">BOOL</span>)resolveInstanceMethod:(SEL)sel
{
    <span class="hljs-keyword">if</span> (sel == <span class="hljs-keyword">@selector</span>(printWithInstance)) {
        IMP imp = imp_implementationWithBlock(^(<span class="hljs-keyword">id</span> _<span class="hljs-keyword">self</span>, SEL sel) {
            <span class="hljs-built_in">NSLog</span>(<span class="hljs-string">@"print with instance"</span>);
        });
        class_addMethod(<span class="hljs-keyword">self</span>, sel, imp, <span class="hljs-string">"v@:"</span>);
        <span class="hljs-keyword">return</span> <span class="hljs-literal">YES</span>;
    }
    <span class="hljs-keyword">return</span> [<span class="hljs-keyword">super</span> resolveClassMethod:sel];
}</code></pre><p>简单解释下，发现是<code>printWithInstance</code>的selector，手动做了一个<code>IMP</code>，然后给class对象加上。然后返回YES，告诉iOS已经决议成功，然后iOS会再尝试去class对象的<code>dispatch table</code>中寻找该实例方法，然后找到了，调用，打印出<code>print with instance</code>。</p>
<ol start="2">
<li>决议类方法</li>
</ol>
<pre><code class="objc hljs">+ (<span class="hljs-built_in">BOOL</span>)resolveClassMethod:(SEL)sel
{
    <span class="hljs-keyword">if</span> (sel == <span class="hljs-keyword">@selector</span>(printWithClass)) {
        IMP imp = imp_implementationWithBlock(^(Class <span class="hljs-keyword">class</span>, SEL sel) {
            <span class="hljs-built_in">NSLog</span>(<span class="hljs-string">@"print with class"</span>);
        });
        class_addMethod(objc_getMetaClass(<span class="hljs-built_in">NSStringFromClass</span>(<span class="hljs-keyword">self</span>).UTF8String), sel, imp, <span class="hljs-string">"v@:"</span>);
        <span class="hljs-keyword">return</span> <span class="hljs-literal">YES</span>;
    }
    <span class="hljs-keyword">return</span> [<span class="hljs-keyword">super</span> resolveClassMethod:sel];
}</code></pre><p>决议类方法和决议实例方法的流程是一样的。唯一不同的是需要在<code>dispatch table</code>中添加方法的类对象不一样，对于类方法决议，需要在class对象的metaClass中添加。因为对class对象发送消息时需要到其metaClass的<code>dispatch table</code>中寻找，这跟调用实例方法时需要到class对象寻找是一样的。</p>
<h3 id="9f4c8b26">type encoding</h3><p>上述两例中都在 <code>class_addMethod</code> 调用中传递了<code>“v@:”</code>作为最后一个参数来描述添加的方法的类型。这里注意不要用oc的中括号调用所干扰，方法的type encoding是其对应的c语言调用的类型，因为方法调用会转换为<code>returnType msgSend(id receiver, SEL cmd, ...)</code>，上例中的<code>v@:</code>代表添加的方法返回值为void(v), receiver是对象(@),cmd是selector(:)，没有其他参数。更多关于type encoding的介绍在苹果runtime文档中最后部分有介绍。</p>
<h3 id="25f9c7fa">总结</h3><p>学习只有脚踏实地才能学到。oc的runtime是整个语言的精髓，不理解它将不能理解很多oc才有的精良设计。</p>
